AOAI_ENDPOINT=https://twg-test-ai1.openai.azure.com
AOAI_API_VERSION=2025-04-01-preview
AOAI_API_KEY=<in-key-vault>
AOAI_GPT5_DEPLOYMENT=<gpt5-deployment-name>
EVENT_HUB_CONN=<optional>
APPINSIGHTS_CONN=<optional>
BING_SUBSCRIPTION_KEY=<optional>
SKIMLINKS_SITE_ID=<optional>
SKIMLINKS_API_KEY=<optional>
